.productPriceBtn {
  text-align: center;
}

.productPriceBtn a {
  background-color: #21211d;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.productPriceBtn button {
  display: inline-block;
  height: 40px;
  width: 120px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}

.productPriceBtn button:hover {
  background-color: #79b0a1;
}

.totalCart {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.noHayItem {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
